/* Positioning */

#sources {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    overflow: auto;
}

#content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20%;
    margin-left: 1px;
}

#browser {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    overflow: hidden;

    /* toggled by JS */
    display: none;
}

#browser ul#artists {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#browser ul#albums {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#tracklist {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#tracklist .header {
    /* compensate for scrollbar. kind of icky. */
    margin-right: 15px;
    overflow: hidden;
    
    position: relative;
    z-index: 1;
}

#tracklist .tracks {
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    bottom: 0;

    overflow-x: hidden;
    overflow-y: auto;
}

#tracklist .header > *,
#tracklist .row > * {
    display: block;
    float: left;
}

#tracklist .header,
#tracklist .row {
    clear: left;
}

#tracklist .header,
#tracklist .row,
#tracklist .header > *,
#tracklist .row > * {
    height: 18px;
    overflow: hidden;
}

#tracklist .icon         { width: 1% }
#tracklist .name         { width: 29% }
#tracklist .artist       { width: 29% }
#tracklist .album        { width: 29% }
#tracklist .time         { width: 5% }

/* Styling */

body {
    font-family: "Lucida Grande", verdana, sans-serif;
    font-size: 11px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.selected {
    background-color: #3d80df !important;
    color: white !important;
}

/* Left pane */

#sources {
    background: #d1d7e2;
    border-right: 1px solid black;
}

#sources li {
    padding-left: 1em;
}

#sources li a {
    display: block;
    
    padding-left: 100em;
    margin-left: -100em;

    padding-top: 3px;
    padding-bottom: 3px;
}

/* Right pane */

#tracklist, #browser {
    cursor: default;
}

#tracklist .header span, #tracklist .row span, #browser li {
    padding: 2px 4px;
}

#tracklist .header {
    border-bottom: 1px solid #555555;
}

#tracklist .row span {
    border-left: 1px solid #d9d9d9;
}

#tracklist .row span:first-child {
    border-left: none;
}

#tracklist .row.odd {
    background: #f1f5fa;
}
